{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}


<div class="container mt-4">
    <h1 class="display-5">Movies</h1>
    <hr>
    <div class="container mt-4 mb-5">
        <!-- Search bar for Movie model -->
        <h2>Search for Movies</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Search for movies...">
                <button class="btn submit" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Movie Search Results -->
    {% if movie_list %}
    <div class="row mb-4">
        {% for movie in movie_results %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-3">
            <div class="search-card h-100">
                <a href="{% url 'movie_detail' movie.tmdb_id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="search-card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    </div>
                    <div class="search-card-footer">
                    <a href="{% url 'movie_detail' movie.tmdb_id %}" class="btn submit">More Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No movies found matching your search criteria.</p>
    {% endif %}
</div>    

<h1 class="display-5 my-5">Top Popular Movies</h1>
<hr>
<div class="container" style="max-width: 500px;">
<div id="carouselLatestMovies" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        {% for movie in latest_movies %}
        <button type="button" data-bs-target="#carouselLatestMovies" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for movie in latest_movies %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block w-100" alt="{{ movie.title }}">
            <div class="carousel-caption d-none d-md-block">
                <a href="{% url 'movie_detail' movie.tmdb_id %}" class="btn submit">More Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLatestMovies" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLatestMovies" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<h1 class="display-5 my-5">All Time Top Rated Movies</h1>
<hr>
<div class="container" style="max-width: 500px;">
<div id="carouselTopRatedMovies" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        {% for movie in top_rated_movies %}
        <button type="button" data-bs-target="#carouselTopRatedMovies" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for movie in top_rated_movies %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block w-100" alt="{{ movie.title }}">
            <div class="carousel-caption d-none d-md-block">
                <a href="{% url 'movie_detail' movie.tmdb_id %}" class="btn submit">More Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopRatedMovies" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTopRatedMovies" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
{% endblock %}