{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-5">Movies</h1>
    <hr>
    <div class="container mt-4 mb-5">
        <!-- Search bar for Movie model -->
        <h2>Search for Movies</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Search for movies...">
                <button class="btn submit" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Movie Search Results -->
    {% if movie_results %}
    <div class="row mb-4">
        {% for movie in movie_results %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="{% url 'movie_detail' movie.tmdb_id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <a href="{% url 'movie_detail' movie.tmdb_id %}" class="btn submit">More Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No movies found matching your search criteria.</p>
    {% endif %}
</div>


    <div class="container movie-list">
        <h1 class="display-5 mb-5">Top Popular Movies</h1>
        <hr>
        
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        
    </div>


    <div class="container movie-list">
        <h1 class="display-5 mb-5">All Time Top Rated Movies</h1>
        <hr>
        
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ post.movie.poster_path }}" alt="{{ post.movie.title }} Poster"
            class="img-fluid movie-poster">
        
    </div>
</div>
{% endblock %}