{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<div class="container mt-4">
    <a href="{% url 'forum_post_list' %}" class="btn submit my-1">
        Looking for Community chat? Click here <i class="fa fa-arrow-right"></i>
    </a>
    <hr>
    <h1 class="display-5 mt-1"><strong>Your Chosen Movie Details:</strong></h1>
    <hr>
    <div class="row">
        <div class="my-4">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="img-fluid" alt="{{ movie.title }}">
        </div>
        <div class="col-md-12">
            <h1><strong>{{ movie.title }}</strong></h1>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Overview:</strong> {{ movie.overview }}</p>
            <p><strong>Popularity:</strong> {{ movie.popularity }}</p>
            <p><strong>Vote Count:</strong> {{ movie.vote_count }}</p>
            <p><strong>Vote Average:</strong> {{ movie.vote_average }}</p>

            <p><small>Head to the <a href="{% url 'forum_post_list' %}">Community</a> page to view others' posts about this movie!</small></p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            {% if not user.is_authenticated %}
            <p class="text-center">If you would like to write a review or share your thoughts about this movie then <a
                    class="link" href="{% url 'account_signup' %}">sign up</a> or <a class="link"
                    href="{% url 'account_login' %}">login here</a></p>
            {% endif %}           
            {% if user.is_authenticated %}
            <h2><strong>Your previous posts on this movie:</strong></h2>
            {% if user_posts %}
            {% for post in user_posts %}
            <div class="mb-2">
                <div class="d-flex justify-content-between align-items-center post-border w-100 p-2 ">
                    <div class="col-3 p-2">
                        <h5>{{ post.title }}</h5>
                        <p><small><strong>{{ post.created_at|timesince_hours }}</strong></small></p>
                    </div>
                    <div class="col-7 p-2">
                        {{ post.content }}
                    </div>
                   
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
           
            {% endfor %}
            {% else %}
           
            <p>You have not posted any reviews yet.</p>
            {% endif %}
            <hr>
            <h4 class="mt-4"><strong>Why not write a review or just share some thoughts about this movie and start a discussion?:</strong></h4>
            <form id="ForumPostForm" class="mt-3" method="post">
                {% csrf_token %}
                {{ post_form|crispy }}
                <button type="submit" id="submitButton" class="btn submit mb-5">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}