{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-5">Movies</h1>
    <hr>

    <!-- Most Popular Movies Carousel -->
    <h2>Most Popular Movies</h2>
    <div id="popularMoviesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for movie in popular_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{% url 'movie_detail' movie.slug %}"></a>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block w-100" alt="{{ movie.title }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ movie.title }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#popularMoviesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#popularMoviesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <hr>

    <!-- Top Rated Movies Carousel -->
    <h2>Top Rated Movies</h2>
    <div id="topRatedMoviesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for movie in top_rated_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block w-100" alt="{{ movie.title }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ movie.title }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topRatedMoviesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topRatedMoviesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
