{% extends 'base.html' %}
{% load static %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-5">Movies</h1>
    <hr>
    <div class="container mt-4 mb-5">
        <!-- Search bar for Movie model -->
        <h2>Search for Movies</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Search for movies...">
                <button class="btn submit" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Movie Search Results -->
    {% if movie_results %}
    <div class="row mb-4">
        {% for movie in movie_results %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="{% url 'movie_detail' movie.tmdb_id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <a href="{% url 'movie_detail' movie.tmdb_id %}" class="btn submit">More Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No movies found matching your search criteria.</p>
    {% endif %}
</div>


<div class="container movie-list">
    <h1 class="display-5 my-5">Top Popular Movies</h1>
    <hr>
    <div id="popularMoviesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for movie in top_popular_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block" style="width: 200px; height: auto; object-fit: cover;"  alt="{{ movie.title }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#popularMoviesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#popularMoviesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="container movie-list">
    <h1 class="display-5 my-5">All Time Top Rated Movies</h1>
    <hr>
    <div id="ratedMoviesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for movie in top_rated_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block " alt="{{ movie.title }}" style="width: 200px; height: auto; object-fit: cover;">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#ratedMoviesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#ratedMoviesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container movie-list">
    <img src="{% static 'images/no_poster_for_movie.webp'}" style="width: 100px; height: auto;" alt="">
    <img src="static/images/no_poster_for_movie.webp" style="width: 100px; height: auto;"alt="">
    <img src="static/images/no_poster_for_movie.webp" style="width: 100px; height: auto;"alt="">
    <img src="static/images/no_poster_for_movie.webp" style="width: 100px; height: auto;"alt="">
</div>
{% endblock %}