{% extends 'base.html' %}

{% block content %}
<h1>Forum Posts</h1>
<ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'forum_post_detail' post_id=post.id %}">{{ post.title }}</a>
            <p>Movie: <a href="{% url 'movie_detail' tmdb_id=post.movie.tmdb_id %}">{{ post.movie.title }}</a></p>
            by {{ post.author }} on {{ post.created_at }}
            <p>Upvotes: {{ post.total_upvotes }}</p>
            <p>Downvotes: {{ post.total_downvotes }}</p>
            <a href="{% url 'upvote_post' post_id=post.id %}">Upvote</a>
            <a href="{% url 'downvote_post' post_id=post.id %}">Downvote</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}