{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>Posted by {{ post.author }} on {{ post.created_at }}</p>
<p>Last updated on {{ post.updated_at }}</p>
<a href="{% url 'forum_post_list' %}">Back to Forum Posts</a>

<!-- {% if request.user == post.author %}
    <h2>Edit Forum Post</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="edit_post">Update Post</button>
    </form>

    <h2>Delete Forum Post</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="delete_post">Delete Post</button>
    </form> -->
<!-- {% endif %} -->
{% endblock %}