{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'forum_post_list' %}" class="btn submit my-1">
        <i class="fa fa-arrow-left"></i> Back to Community Forum
    </a>
    <hr>
    <h1 class="display-5 mt-1"><strong>Original Post and Comments:</strong></h1>
    <hr>
    <div class="row">
        <div class="col-md-6 col-lg-4 my-2">
            <img src="https://image.tmdb.org/t/p/w500{{ forum_post.movie.poster_path }}" class="img-fluid"
                alt="{{ movie.title }}">
        </div>
        <div class="col-md-6 col-lg-8 my-2 post-details">
            <h5>Posted by: <strong>{{ forum_post.author.username }}</strong> - <small>
                    {{ forum_post.created_at|timesince_hours }}</small></h5>
            <hr>
            <h4>{{ forum_post.title }}</h4>
            <p>{{ forum_post.content }}</p>
        </div>
    </div>
    <hr>


    <div>
        <h3>Previous comments on this post:</h3>
        <div>
            <div>
                {% if comments %}
                {% for comment in comments %}
                <div class="my-1">
                    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center post-border w-100 p-2">
                        <div class="col-2 p-2">
                            <p><strong>{{ comment.author.username }} </strong>said:</p>
                            <hr>
                            <p><small><strong>{{ comment.created_at|timesince_hours }}</strong></small></p>
                        </div>
                        <div class="col-7 p-2">
                            {{ comment.comment }}
                        </div>
                        <div class="col-2 p-2 text-center">
                            <button type="button" class="btn btn-edit btn-sm btn-warning my-2 mx-2"
                                data-bs-toggle="collapse" data-bs-target="#editComment{{ comment.id }}"
                                aria-expanded="false" aria-controls="editComment{{ comment.id }}">Edit</button>
                            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-2" id="editComment{{ comment.id }}">
                    <div colspan="4">
                        <h4>Edit this comment here:</h4>
                        {% if comment.author == user %}
                        <form method="post" class="form" action="{% url 'edit_comment' comment.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            {{ comment_form.as_p }}
                            <button type="submit" id="submitButton" class="btn submit mb-2">Save</button>
                            <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="collapse"
                                data-bs-target="#editComment{{ comment.id }}" aria-expanded="false"
                                aria-controls="editComment{{ comment.id }}">Close</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p><strong>Be the first to leave a comment!</strong></p>
            {% endif %}
            </div>
        </div>
        <hr>


    </div>
    <div class="container comment-form mb-5">
        {% if user.is_authenticated %}
        <h4 class="mt-2">Write your comments here:</h4>
        <form id="CommentForm" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" id="submitButton" class="btn submit">Submit</button>
        </form>
        {% else %}
        <p><a href="{% url 'account_login' %}">Log in</a> to add a comment.</p>
        {% endif %}
    </div>

</div>
{% endblock %}