{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- top 20 movies -->
<h2>TMDb Top 20 Movies</h2>
<div class="slider">
    <div class="slides" id="slide container">
        {% for movie in movies %}
        <div class="slide">
            <a href="{% url 'movie_detail' movie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="next" onclick="moveSlide(1)">&#10095;</button>
</div>

<!-- entertainment/movie news -->
<div class="news-container mt-5">
    <h2>Latest Entertainment News</h2>
    <div class="row" id="news-container">
        {% for article in news %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
