

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* base.html styling */
body {
    background-image: url('/static/images/glow_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* navigation styles */

nav{ 
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* latest news section */
.container {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #140207;
    border-left: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}