{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="hero-section">
    <div class="container-fluid p-0">
        <div class="hero-image" style="background-image: url('{% static 'hero_temp.png' %}');">
            <div class="hero-text">
                <h1>Welcome to ReelTalk</h1>
                <p>Your ultimate movie discussion platform</p>
                <a href="{% url 'list_movies' %}" class="btn submit">Explore Movies</a> <a href="{% url 'forum_post_list' %}" class="btn submit">Join the chat</a>
            </div>
        </div>
    </div>
</div>

<div class="container news mt-5">       
<!-- Latest News Section -->
<div class="latest-news">
    <h1 class="display-5 mb-4"><strong>Latest Entertainment News</strong></h1>
    <div class="row">
        {% for article in page_obj %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                {% if article.urlToImage %}
                    <img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}" style="max-height: 200px; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'images/no_image.webp' %}" class="card-img-top" alt="No Image Available" style="max-height: 200px; object-fit: cover;">
                    {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{{ article.url }}" class="btn submit" target="_blank">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-5">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}